.cont {
  display: flex;
  justify-content: space-between; 
  border-style: solid; 
  border-color: #9b9b9b;
  height: 48px;
  margin-top: 10px;
  padding: 14px;
}
.bgcont {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.searchh {
  border: none;
  outline: none;
}
.bgcont1{
  display: flex;
  justify-content: center;
  align-items: center;   
}
